html, body {
    margin: 0;
    padding: 0;
}

#header {
    position: absolute;
    top: 0; left: 0; right: 0; height: 50px;
    box-sizing: border-box;
    background: #e1e2e3;
    border-bottom: 1px solid #999;
}

#navigation {
    position: absolute;
    top: 50px; bottom: 30px; left: 0; width: 70px;
    box-sizing: border-box;
    background: #aaa;
    border-right: 1px solid #333;
}

#main {
    position: absolute;
    top: 50px; bottom: 30px; right: 0; left: 70px;
    box-sizing: border-box;
    overflow: hidden;
}

.main_panel {
    width: 100%; height: 100%;
    overflow: auto;
}

#footer {
    position: absolute;
    bottom: 0; left: 0; right: 0; height: 30px;
    box-sizing: border-box;
    background: #e1e2e3;
    border-top: 1px solid #999;
}

.header_left {
    position: absolute;
    bottom: 8px; left: 8px; top: 8px;
}
.header_right {
    position: absolute;
    bottom: 8px; right: 8px; top: 8px;
}

#main_search {
    border: none;
    padding: 0.4em 0.6em;
    margin: 0.4em;
    width: 300px;
}
#main_search:focus {
    outline: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-user-drag: none;
    user-drag: none;
}

.navitem {
    display: block;
    cursor: default;
    text-decoration: none;
    box-sizing: border-box;
    height: 70px;
    width: 70px;
    padding: 4px;
    background: #aaa;

    border-bottom: 1px solid #333;
    border-left: 1px solid #aaa;
    border-right: 1px solid #333;
}
.navitem.selected {
    background: #888;
    background: #fff;
    border-right-color: #fff;
}

.navitem:active {
    background: #999;
}

.navlabel {
    display: inline-block;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 10pt;
    font-family: sans-serif;
    font-weight: bold;
}
.selected .navlabel {
    color: #333;
}

.listholder {
    padding: 2px;
}

.TaskView {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 2px 0;
}

.TaskView-dragDest {
    display: none;
    position: absolute;
    top: -2px; left: -7px;
    z-index: 22;
}
.TaskView-dragDest.active {
    display: block;
    width: 100%;
    height: 100%;
}
.TaskView-dragDest.visible {
    box-sizing: border-box;
    border: 3px solid #ccf;
    border-radius: 3px;
}

.TaskView-container {
    position: relative;
    border-width: 0 5px 0 5px;
    border-color: #fff;
    border-style: solid;
    padding: 2pt 3pt;
}
.TaskView-container:hover {
    border-color: #999;
}
.TaskView-container.selected {
    border-color: #ccf;
}

.TaskView-main {

}

.TaskView-titleArea {
    overflow: hidden;
}
.TaskView-title {
    font-size: 12pt;
    font-weight: bold;
    font-family: sans-serif;
    border: none;
    padding: 0 4px;
    width: 100%;
    box-sizing: border-box;
    text-overflow: ellipsis;
}
.TaskView-title:focus {
    outline: none;
}
.TaskView-title::-webkit-input-placeholder {
    color: #999;
}
.TaskView-title::-moz-placeholder {
    color: #999;
}

.TaskView-check {
    float: right;
}

.TaskView-notes {
    padding-left: 8px;
}
.TaskView-notes .CodeMirror {
    font-family: sans-serif;
    font-size: 11pt;
    height: auto;
/*    border: 1px solid #999;*/
/*    border-width: 0 0 0 1px; */
}

.TaskView-notes pre.CodeMirror-placeholder {
    color: #999;
}

.TaskDragIcon {
    font-size: 8px;
    font-family: sans-serif;
    width: 50px;
    display: block;
    padding: 2px 2px;
    background-color: #fff;
    border: 1px solid #000;
    position: fixed;
    left: 0; top: 0;
}

.TaskListView {
    position: relative;
}
.TaskListView-interitem-drop {
    position: absolute;
    height: 12px; width: 100%;
    margin-top: -6px;
    overflow: hidden;
    z-index: 23;
    display: none;
}
.TaskListView-interitem-drop-target {
    height: 4px; width: 100%;
    margin-top: 4px;
    position: relative;
    pointer-events: none;
}

.TaskListView-interitem-drop.active {
    display: block;
}
.active.visible .TaskListView-interitem-drop-target {
    background: #ccf;
}
