html, body {
    margin: 0;
    padding: 0;

    font-size: 11px;
    font-family: sans-serif;
}

#header {
    position: absolute;
    top: 0; left: 0; right: 0; height: 50px;
    box-sizing: border-box;
    background: #e1e2e3;
    border-bottom: 1px solid #999;

/*    background: linear-gradient(to top, #e1e2e3, #d1d2d3);*/
}

#navigation {
    position: absolute;
    top: 50px; bottom: 30px; left: 0; width: 70px;
    box-sizing: border-box;
    background: #aaa;
    border-right: 1px solid #333;
}

#main {
    position: absolute;
    top: 50px; bottom: 30px; right: 0; left: 70px;
    box-sizing: border-box;
    z-index: 1;
}

.main_panel {
    width: 100%; height: 100%;
    background: #f1f2f3;
}

#footer {
    position: absolute;
    bottom: 0; left: 0; right: 0; height: 30px;
    box-sizing: border-box;
    background: #e1e2e3;
    border-top: 1px solid #999;

    background: linear-gradient(to bottom, #e1e2e3, #d1d2d3);
}

.header_left {
    position: absolute;
    bottom: 8px; left: 8px; top: 4px;
}
.header_right {
    position: absolute;
    bottom: 8px; right: 8px; top: 8px;
}

#main_search {
    border: none;
    padding: 0.4em 0.6em;
    margin: 0.4em;
    width: 300px;
}
#main_search:focus {
    outline: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-user-drag: none;
    user-drag: none;
}

.actionitem {
    display: inline-block;
    padding: 4px 3px 1px 3px;
    color: #555;
    margin-right: 6px;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 4px;
}
.actionitem .batch-icon {
    font-size: 24px;
    display: block;
    text-align: center;
}
.actionitem .label {
    display: block;
    text-align: center;
    font-size: 10px;
}
.actionitem:active {
    border-color: #888;
    background-color: #888;
    color: #eee;
}

.navitem {
    display: block;
    position: relative;
    cursor: default;
    text-decoration: none;
    box-sizing: border-box;
    height: 70px;
    width: 70px;

    background: #aaa;

    border-bottom: 1px solid #333;
/*    border-left: 1px solid #aaa;*/
    border-right: 1px solid #333;
}
.navitem.selected {
    background: #888;
    background: #fff;background: #f1f2f3;
    border-right-color: #f1f2f3;
}

.navitem-noconnect.selected {
/*    background: #fff;
    border-right-color: #fff;*/
    border-right-color: #333;
}

.navitem:active {
    background: #999;
}

.navlabel {
    position: absolute;
    top: 0px; right: 0px; bottom: 0px; left: 0px;
    display: block;
    color: #fff;     color: #333;
    font-size: 11px;
    font-family: sans-serif;
    font-weight: bold;
    border-left: 6px solid #aaa;
    padding: 3px 5px;
}
.selected .navlabel {
    color: #333;
}

.navlabel .batch-icon {
    display: block;
    text-align: center;
    margin-top: 6px;
    margin-left: -3px;
    font-size: 24px;
    color: #333;
}

.InboxView {
    width: 100%;
    height: 100%;
    position: relative;
}

.InboxView-listholder {
    padding: 2px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #fff;
    box-sizing: border-box;
}

.ProjectsView {
    position: relative;
    width: 100%; height: 100%;
}
.ProjectsView-plist {
/*    background: #f1f2f3;*/
    position: absolute;
    top: 0; bottom: 0; left: 0; width: 300px;
    overflow: auto;
    box-sizing: border-box;
    padding: 4px 4px;
}
.ProjectsView-ptask {
    background: white;
    position: absolute;
    top: 0; bottom: 0; left: 300px; right: 0;
    padding: 2px;
    box-sizing: border-box;
    border-left: 3px solid #aaa;
}

.ProjectsView-listholder {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ProjectsView-createTask {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;

    display: inline-block;
    font-size: 11px;
    margin-top: 12px;
    margin-left: 36px;
    color: #999;
}
.ProjectsView-createTask:hover {
    color: #555;
}
.ProjectsView-createTask:active {
    color: #888;
}

.StatusLine {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;

    position: absolute;
    bottom: -22px;
    padding: 0 24px;
    font-size: 9pt;
    color: #444;
}

.TaskView {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 2px 0;
}

.TaskView-dragDest {
    display: none;
    position: absolute;
    top: -2px; left: -7px;
    z-index: 22;
}
.TaskView-dragDest.active {
    display: block;
    width: 100%;
    height: 100%;
}
.TaskView-dragDest.visible {
    box-sizing: border-box;
    border: 3px solid #ccf;
    border-radius: 3px;
}

.TaskView-container {
    position: relative;
    border-width: 0 5px 0 5px;
    border-color: transparent;
    border-style: solid;
    padding: 2px 3px;
}
.TaskView-container:hover {
    border-color: #999;
}
.TaskView-container.selected {
    border-color: #ccf;
}

.TaskView-main {

}

.TaskView-iconArea {
    float: left;
    color: #777;
}

.TaskView-titleArea {
    overflow: hidden;
}
.TaskView-title {
    font-size: 14px;
    font-family: sans-serif;
    border: none;
    padding: 0 4px;
    width: 100%;
    box-sizing: border-box;
    text-overflow: ellipsis;
    background: transparent;
}
.TaskView-title:focus {
    outline: none;
}
.TaskView-title::-webkit-input-placeholder {
    color: #999;
}
.TaskView-title::-moz-placeholder {
    color: #999;
}

.TaskView-title.project {
    font-size: 16px;
    font-weight: bold;

}

.TaskView-main .transient {
    visibility: hidden;
}
.TaskView-container:hover .TaskView-main .transient,
.TaskView-container.selected .TaskView-main .transient {
    visibility: visible;
}

.TaskView-secondArea {
    padding: 0 4px;
}
.TaskView-secondArea .transient {
    visibility: hidden;
}
.TaskView-container:hover .TaskView-secondArea .transient,
.TaskView-container.selected .TaskView-secondArea .transient {
    visibility: visible;
}

.TaskView-button {
    color: #999;
    font-size: 11px;
    display: inline-block;

   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   cursor: default;
   -webkit-user-drag: none;
    user-drag: none;

}
.TaskView-button:not(.unbutton):hover {
    color: #555;
}
.TaskView-button:not(.unbutton):active {
    color: #888;
}
.TaskView-button.unbutton {
    color: #666;
}

.TaskView-button.active {
    color: #666;
}

.TaskView-button-spacer {
    display: inline-block;
    width: 10px;
}

.TaskView-check {
    float: right;
}

.TaskView-notes {
    padding-left: 4px;
}
.TaskView-notes .CodeMirror {
    font-family: sans-serif;
    font-size: 12px;
    height: auto;
    color: #777;
/*    border: 1px solid #999;*/
/*    border-width: 0 0 0 1px; */
    max-width: 600px;
}

.TaskView-notes pre.CodeMirror-placeholder {
    color: #ccc;
}

/* project task view */

.ProjectTaskView {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ProjectTaskView-container {
    position: relative;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 2px 3px;
}

.ProjectTaskView-iconArea {
    display: inline-block;
    color: #777;
}

.ProjectTaskView-title {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    text-overflow: ellipsis;
    background: transparent;
    padding: 0 4px;
    cursor: default;
}
.ProjectTaskView-title.noname::after {
    color: #999;
    content: 'Untitled';
}

.ProjectTaskView-container.active {
    background: #ccc;
}

.ProjectTaskView-container.selected {
    background: #ccf;
}

.ProjectTaskView-dragDest {
    display: none;
    position: absolute;
    top: -2px; left: -2px;
    z-index: 22;
}
.ProjectTaskView-dragDest.active {
    display: block;
    width: 100%;
    height: 100%;
}
.ProjectTaskView-dragDest.visible {
    box-sizing: border-box;
    border: 3px solid #ccf;
    border-radius: 3px;
}



/* TODO:REMOVE */
.TaskDragIcon {
    font-size: 8px;
    font-family: sans-serif;
    width: 50px;
    display: block;
    padding: 2px 2px;
    background-color: #fff;
    border: 1px solid #000;
    position: fixed;
    left: 0; top: 0;
}

.TaskListView {
    position: relative;
}
.TaskListView-interitem-drop {
    position: absolute;
    height: 12px; width: 100%;
    margin-top: -6px;
    overflow: hidden;
    z-index: 23;
    display: none;
}
.TaskListView-interitem-drop-target {
    height: 4px; width: 100%;
    margin-top: 4px;
    position: relative;
    pointer-events: none;
}

.TaskListView-interitem-drop.active {
    display: block;
}
.active.visible .TaskListView-interitem-drop-target {
    background: #ccf;
}

@font-face{
    font-family:Batch;
    src:url('/static/batch-icons/Webfont/batch-icons-webfont.eot');
    src:url('/static/batch-icons/Webfont/batch-icons-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/batch-icons/Webfont/batch-icons-webfont.woff') format('woff'),
    url('/static/batch-icons/Webfont/batch-icons-webfont.ttf') format('truetype'),
    url('/static/batch-icons/Webfont/batch-icons-webfont.svg#batchregular') format('svg');
    font-weight:normal;
    font-style:normal;
}

.batch-icon {
    font-family:"Batch";
    font-size:16px;
    line-height:1;
    display:inline-block;
}


.context-menu {
   position: fixed;
   z-index: 999;
   font-size: 12px;
   font-family: sans-serif;
   display: none;
   border: 1px solid rgba(0, 0, 0, 0.2);
   padding: 3px 0;
   border-radius: 5px;
   background: #fff;
   box-shadow: 3px 3px 5px #666;
   box-sizing: border-box;

   max-height: 100%;
   overflow-y: auto;

   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   cursor: default;
   -webkit-user-drag: none;
    user-drag: none;
}

.context-menu ul {
    margin: 0; padding: 0;
    list-style: none;
}
.context-menu li {
    display: block;
    margin: 0;
    padding: 4px 10px;
    color: #333;
    cursor: default;
    overflow: hidden;
    white-space: nowrap
}
.context-menu li:hover {
    background: #6666ff;
    color: #fff;
}

.context-menu li.context-menu-divider {
    height: 1px;
    background-color: #e5e5e5;
    border-bottom: 1px solid #fff;
    padding: 0;
    margin: 2px 4px 1px 4px;
}

.context-menu li.submenu:after {
    content: '\f105';
    float: right;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    margin-right: -6px;
}

.context-menu-cloak {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background: transparent;
    z-index: 998;
    display: none;
}

.ProjectSelector-projecticon {
    display: inline-block;
    width: 20px;
    color: #777;
}
li:hover .ProjectSelector-projecticon {
    color: #aaa;
}

.ProjectSelector-indent {
    display: inline-block;
}
.ProjectSelector-projectname.noname::after {
    color: #999;
    content: 'Untitled';
}

.FancyCheckbox {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-user-drag: none;
    user-drag: none;

    display: inline-block;


    background: #fbfbfb;
    background-image: linear-gradient(to bottom, #fbfbfb, #ededed);
    border-radius: 0.2em;
    box-shadow: 0 0 0 1px #ccc;
    font-size: 20px;
    line-height: 100%;
    outline: none;
    position: relative;
    margin: 1px 1px;
}

.FancyCheckbox:hover {
    background-image: linear-gradient(to bottom, #ebebeb, #dddddd);
}
.FancyCheckbox:active {
    background-image: linear-gradient(to bottom, #ebebfb, #dddded);
}

.FancyCheckbox::before {
/*    visibility: hidden;*/
    color: #eee;
    text-shadow: 0 1px 0 #dddddd, 0 2px 0 #ffffff, 0 -1px 0 #dddddd;
}
.FancyCheckbox.checked::before {
    visibility: visible;
    color: #555;
    text-shadow: 0 1px 0 #dddddd, 0 2px 0 #ffffff, 0 -1px 0 #fff;
}
.FancyCheckbox:active::before {
    color: #aaa;
}

.TaskStar {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-user-drag: none;
    user-drag: none;

    display: inline-block;


    font-size: 20px;
    line-height: 100%;
    outline: none;
    position: relative;
    margin: 1px 1px;
}

.TaskStar::before {
    color: #eee;
    text-shadow: 0 1px 0 #dddddd, 0 2px 0 #ffffff, 0 -1px 0 #dddddd;
}
.TaskStar.checked::before {
    visibility: visible;
    color: #ffd700;
/*    text-shadow: 0px 1px 1px #ddd, 0 0 1px #eee8aa;*/
    text-shadow: 0 1px 0 #dddddd, 0 2px 0 #ffffff, 0 -1px 0 #d4af37;
}
.TaskStar:hover::before {
    color: #eee8aa;
}
.TaskStar.checked:hover::before {
    color: #eec600;
    color: #ffe810;
}
.TaskStar.checked:active::before, .TaskStar:active::before {
    color: #d4af37;
}

.em-spacer {
    display: inline-block;
    width: 1em;
}